<a href="https://colab.research.google.com/github/ge43jef/GEEHYDRO/blob/main/getting_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np

file_paths = ['/content/FLX_US-Blo_FLUXNET2015_SUBSET_DD_1997-2007_1-4.csv',
              '/content/FLX_US-Ton_FLUXNET2015_SUBSET_DD_2001-2014_1-4.csv',
              '/content/FLX_US-Tw3_FLUXNET2015_SUBSET_DD_2013-2014_2-4.csv',
              '/content/FLX_US-Twt_FLUXNET2015_SUBSET_DD_2009-2014_1-4.csv',
              '/content/FLX_US-Var_FLUXNET2015_SUBSET_DD_2000-2014_1-4.csv',
              '/content/era5LandBLO_values.csv',
              '/content/era5LandTON_values.csv',
              '/content/era5LandTW3_values.csv',
              '/content/era5LandTWT_values.csv',
              '/content/era5LandVAR_values.csv']

# Initialize an empty list to store the data frames
data_frames = []

# Iterate over the first 5 files and select the desired columns
for file_path in file_paths[:5]:
    data = pd.read_csv(file_path, delimiter=",", skipinitialspace=True, parse_dates=True)
    selected_data = pd.DataFrame(
        {"sw": data.SW_IN_F, "lw": data.LW_IN_F,
         "pre": data.PA_F, "u10": data.WS_F, "vpd": data.VPD_F, "lh": data.LE_CORR})
    data_frames.append(selected_data)

# Concatenate the tables from the first 5 files
first_combined_data = pd.concat(data_frames, axis=0, ignore_index=True)

# Clear the data_frames list
data_frames.clear()

# Initialize a new DataFrame for the remaining files
remaining_data = pd.DataFrame()

# Iterate over the remaining files and select the desired columns
for file_path in file_paths[5:]:
    data = pd.read_csv(file_path, delimiter=",", skipinitialspace=True, parse_dates=True)
    selected_data = pd.DataFrame(
        {"temperature": data.temperature_2m, "precipitation": data.total_precipitation_sum})
    remaining_data = pd.concat([remaining_data, selected_data], ignore_index=True)

# Match lengths using broadcasting
n = len(first_combined_data)
m = len(remaining_data)
combined_data = pd.concat([first_combined_data, remaining_data.iloc[:n, :].reset_index(drop=True)], axis=1)

##combined_data.head(150)

In [29]:
X = combined_data[['sw', 'lw','pre', 'u10', 'vpd', 'temperature', 'precipitation']]
y= combined_data['lh']
X

            sw       lw      pre    u10    vpd  temperature  precipitation
0        0.000  377.382   86.398  4.989  3.162   282.880062       0.099423
1        4.820  363.864   86.490  2.706  3.150   283.025038       0.102830
2       85.702  284.960   86.755  1.239  3.878   278.279681       0.021240
3       76.725  279.993   86.877  0.886  4.319   275.689370       0.000054
4      110.441  253.226   86.990  2.168  4.864   275.067135       0.001260
...        ...      ...      ...    ...    ...          ...            ...
17525  119.309  259.904  100.657  1.101  3.254          NaN            NaN
17526  126.007  260.870  100.496  1.199  3.274          NaN            NaN
17527   94.095  288.536  100.126  1.283  1.880          NaN            NaN
17528  129.525  262.488  100.052  2.101  4.960          NaN            NaN
17529  134.304  226.817   99.784  1.232  4.476          NaN            NaN

[17530 rows x 7 columns]